.grid{
    position: absolute;
    width:560px;
    height:300px;
    border: 1px solid black;
}

.block{
    position: absolute;
    width:100px;
    height:20px;
    background-color: rgb(94, 46, 139);
}
.user{
    position: absolute;
    width:100px;
    height:20px;
    background-color: rgb(28, 14, 41);
}
.ball{
    position:absolute;
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: rgb(221, 190, 247);
}
#button{
    height:50px;
    width:100px;
    border:1px solid slateblue;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}